.contact_info {
	margin-top: 2.5%;
	background-color: white;
  }
  
  .contact_heading {
	color: #111;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	padding-top: 3%;
	padding-bottom: 5%;
	font-family: Gilroy;
  }
  .contact_heading span2 {
	background-image: linear-gradient(#b621fe, #1fd1f9);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	font-family: Gilroy;
  
  }
  
  .further_info {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-bottom: 10%;
	font-family: Gilroy;
  
  }
  
  .further_info h2 {
	font-weight: bold;
	font-size: 20px;
  }
  .further_info h5 {
	font-weight: normal;
  }
  .Address h5 {
	margin: 2px auto;
  }
  
  @media only screen and (max-width: 500px) {
	.further_info {
	  flex-wrap: wrap;
	}
	.further_info{
  flex-direction: column;
	}
	.child_info{
		margin: 25px auto;
	}
  }
  
  
  
  footer {
	background: teal;
	height: auto;
	width: 100%;
	font-family:Arial, Helvetica, sans-serif;
	padding-top: 9%;
	padding-bottom: 8%;
	color: #fff;
	
  }
  .footer_content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
  }
  
  .footer_content p {
	max-width: 70%;
	margin: 10px auto;
	line-height: 28px;
	font-size: 20px;
	/* margin: 25px auto; */
	font-family:Arial, Helvetica, sans-serif;
	padding: 0px 15px;
  }
  .social_icon {
	list-style: none;
	display: flex;
	margin-top: 40px;
  }
  .social_icon li {
	margin: 0px 15px;
	color: white;
  }
  .child_info{
	text-align: center;
  
  }
  
  
  .css-i4bv87-MuiSvgIcon-root {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    color: white;
}
  .css-i4bv87-MuiSvgIcon-root:hover {
    color: #FFC000;
}
  