/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Sofia&display=swap');*/
body {
	line-height: 1.5;
	/*font-family: 'Poppins', sans-serif;*/
	font-family: 'Axiforma_light';
}
@font-face {
    font-family: 'Axiforma_light';
    src: local('Axiforma Light'), local('Axiforma-Light'),
        url('Axiforma-Light.woff2') format('woff2'),
        url('Axiforma-Light.woff') format('woff'),
        url('Axiforma-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
 @font-face {
   font-family: 'Axiforma_medium';
   src: local('Axiforma Medium'), local('Axiforma-Medium'),
       url('Axiforma-Medium.woff2') format('woff2'),
       url('Axiforma-Medium.woff') format('woff'),
       url('Axiforma-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
 }
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.upper_container {
	max-width: 1300px;
	margin: auto;
}
ul {
	list-style: none;
}
.row {
	display: flex;
	flex-wrap: wrap;
	white-space: nowrap;
}
.footer {
	background-color: lightslategrey;
	padding: 70px 30px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.footer_column {
	width: 25%;
	padding: 0px 35px;
}
.footer_column h4 {
	/*font-family: 'Sofia', cursive;*/
	font-family: 'Axiforma_medium';
    font-weight: 500;
    font-style: normal;
	font-size: 18px;
	text-transform: capitalize;
	margin-bottom: 30px;
	font-weight: 1000;
	position: relative;
}
.footer_column h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: white;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer_column ul li:not(:last-child) {
	margin-bottom: 10px;
}
.footer_column ul li a{
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	color: white;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}
.footer_column ul li a:hover{
	color: white;
	padding: 2px;
}
.footer_column .social_links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	margin-right: 0 10px 10px 0;
	line-height: 40px;
	border-radius: 50%;
	transition: all 0.5s ease;
}
.footer_column .social_links a:hover {
	color: #24262b;
}
@media (max-width: 1000px) {
	.footer_column {
    width: 50%;
    margin-bottom: 30px;
}
}
@media (max-width: 520px) {
	.footer_column {
    width: 100%;
}
}