.signupwindow{
    background-color: #00838C;
    margin-top: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 40px 0;
}
.container{
    
    width: 50%;
    height: 60%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
}
.input{
    display: flex;
    flex-direction: column;
}
.input input{
    width: 300px;
    outline: none;
    margin: 10px 0px;
    height: 30px;
}
.input label{
    color: white;
}
.container button{
    outline: none;
    width: 120px;
    height: 40px;
    margin-left: 30%;
    font-size: 15px;
    border: none;
    border-radius: 1px;
}