*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-width: 400px;
}
img{
    width: 100%;
    
    
}

.images{
    display: flex;
    height: 450px;
    z-index: -1;
   

    
   
   
    
    transition: 0.4s linear;

}
.images-container{
    height: 500px;
    overflow-x: hidden;
    position: relative;
    
    
    
   
    display: flex;
    flex-direction: column;
    
    
    
}
i{
    font-size: 30px;
    color: white;
   
    position: absolute;
    top: 40%;
   

}


#ahead{
    right: 0px;
   
}
