.nav_bar {
    height: 50px;
}
.nav_links {
    float: right;
    justify-content: space-between;
    margin-right: 380px;

}
.nav_links a {
    color: rgb(90, 90, 90);
    text-decoration: none;
    font-size:20px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    padding: 15px
}
.nav_links a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3.5px;
    background-color: yellow;
    transition: width 0.25s ease;
}

.nav_links a:hover::before {
    width: 100%;
}
#logo {
    width: 65px;
    height: 65px;
    margin-left: 180px;
}


