
img{
    width: 100%;
    
    
}

.images{
    
    display: flex;
    height: 450px;
    z-index: -1;
   

    
   
   
    
    transition: 0.4s linear;

}
.image{
    padding:0 30px;
}
.images-container{
    height: 500px;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    
   
    display: flex;
    flex-direction: column;
    
    
    
}
#prev{
    font-size: 30px;
    color: black;
   
    position: absolute;
    top: 40%;
   left: 0;
   padding: 0;

}
#prev:hover{
    color: teal;

}


#ahead{
    padding: 0;
    font-size: 30px;
    color: black;
   
    position: absolute;
    top: 40%;
    right: 0px;
   
}
#ahead:hover{
    color: teal;
   
}
.move:hover{
    cursor: pointer;
    
}
.move{
    background-color: teal;
    z-index: 3;
}
.move.css-i4bv87-MuiSvgIcon-root {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    /* color: ; */
}
  .move.css-i4bv87-MuiSvgIcon-root:hover {
    color: #FFC000;
}
